// переменные
$white: #fffbf4;
$red: #9c1519;
$pink: #ea394d;
$black: #020202;
$breakpoint-large: 1280px;
$breakpoint-medium: 959px;
$breakpoint-small: 767px;
$breakpoint-xs: 639px;
$first-family: "Roboto", sans-serif;
$second-family: "SegoeUI", sans-serif;
$header-height: 168px;

:root {
}

.dark {
}
